<div class="main">
  <div class="wrapper">
    <h2>Dziękuję za udział w badaniu!</h2>

    <p> Jeżeli w trakcie udziału w badaniu pojawiły się pytania bądź wątpliwości, które Pan/Pani chciałby/chciałaby zadać nam bezpośrednio, to prosimy o wiadomość email:</p>
    <ul>
      <li>Dominika Zyśk; e-mail: <a href='mailto:domzys@st.amu.edu.pl'>domzys@st.amu.edu.pl</a></li>
      <li>dr. Paweł Kleka; e-mai: <a href='mailto:pawel.kleka@amu.edu.pl'>pawel.kleka@amu.edu.pl</a></li>
    </ul>
  </div>
</div>
<tmt-stroop-test-copyrights></tmt-stroop-test-copyrights>
