<div class='main'>
  <mat-card>
    <div>
      <p>Szanowni Państwo,</p>
      <p>
        nazywam się Dominika Zyśk i jestem studentką V roku psychologii na Uniwersytecie im. Adama Mickiewicza w
        Poznaniu. Zwracam się do Państwa z prośbą o udział w badaniu, potrzebnym do mojej pracy magisterskiej. Badanie
        dotyczy zdolności poznawczych i możliwości ich rozwoju poprzez aktywność w określonych grach komputerowych.
        Proszę o szczere odpowiedzi. Nie ma dobrych i złych odpowiedzi, a każda będzie dla mnie bardzo ważna.</p>
      <mat-card-content>
        <p> Przebieg badania skład się z danych demograficznych oraz trzech różnych zadań.</p>
        <p>
          Badanie jest w pełni anonimowe. Przystępując do badania, wyrażacie Państwo świadomą zgodę na uczestnictwo.
          Państwa udział w badaniu jest dobrowolny i w każdym momencie wypełniania mają Państwo możliwość wycofania się
          z badania, bez podawania przyczyny. Do wzięcia udziału w badaniach zapraszam osoby pełnoletnie. Wypełnienie
          badania zajmie około 15 minut.
        </p>
        <p>
          Jeżeli macie Państwo jakiekolwiek pytania dotyczące badania, chętnie odpowiem na nie w kontakcie mailowym
          <a href='mailto:domzys@st.amu.edu.pl'>(domzys@st.amu.edu.pl)</a>. Wyniki będą prezentowane wyłącznie na poziomie danych grupowych, a dostęp do wyników
          surowych będę mieć ja oraz promotor mojej pracy, dr. Paweł Kleka (Wydział Psychologii i Kognitywistyki,
          Uniwersytet im. Adama Mickiewicza, ul. Szamarzewskiego 89, 60–568 Poznań, tel.: (48 61) 829 23 50, email:
          <a href='mailto:pawel.kleka@amu.edu.pl'>pawel.kleka@amu.edu.pl</a>. Dołożę wszelkich starań, aby Państwa odpowiedzi i dane były odpowiednio
          zabezpieczone. Jeżeli będziecie Państwo zainteresowani wynikami mojej pracy, proszę o kontakt mailowy
          <a href='mailto:domzys@st.amu.edu.pl'>(domzys@st.amu.edu.pl)</a>.
        </p>
        <p>Dziękuję za współpracę!</p>
      </mat-card-content>

    </div>
    <button mat-raised-button color='primary' (click)='navigateToDemoDataForm()'>Przejdź do badania</button>
  </mat-card>
</div>
