.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__info {
    color: white;
    font-size: 30px;
  }

  p {
    font-size: 30px;
  }
}
