<div class='main'>
  <div class='wrapper'>
    <h2>Test TMT</h2>

    <p>
      Zadaniem jest przejechanie przez kolejne punkty (które będą blednąć) za pomocą myszki, w narastającej kolejności. 
    </p> 
    <p>
      Pierwszym etapem jest samouczek, w
      którym muszą Państwo prawidłowo przejechać przez siedem punktów. Następnie czekają na Państwa dwa etapy testowe. 
      W pierwszym etapie występują jedynie wartości liczbowe. W drugim etapie muszą Państwo przejeżdżać naprzemiennie przez 
      liczby wraz z kolejnymi literami alfabetu. 
    </p>
    <p>
      Przykładowo 1 - A - 2 - B - 3 - C - 4 - D i tak dalej.
    </p>
    <p>
      W celu łączenia punktów proszę przycisnąć lewy przycisk myszy i nie puszczając go przejeżdżać przez kolejne punkty, 
      starając się omijać te, które nie wypadają w aktualnej kolejności. 
    </p>
    <p> 
      W przypadku puszczenia lewego przycisku myszy, 
      badanie zostanie wyzerowane i będzie należało ponownie łączyć wszystkie punkty.
    </p>

    <button mat-raised-button color='primary' (click)='redirectToTutorial()'>Przejdź do samouczka</button>

  </div>
</div>
