<div class='main'>
  <div class='wrapper'>
    <h2>Test TMT</h2>

    <p>Test polega na połączeniu punktów od najmniejszej do najwiekszej wartości. Pierwszym etapem jest samouczek, w
      którym musimy prawidłowo połączyć siedem punktów. Następnie czekają na Państwa dwa prawidłowe etapy. W pierwszym
      etapie występują jedynie wartości liczbowe. W drugim etapie musimy połączyć naprzemiennie liczby wraz z kolejnymi
      literami alfabetu. Przykładowo 1 - A - 2 - B - 3 - C - 4 - D i tak dalej.
    </p>
    <p>W celu łączenia punktów proszę przycisnąć lewy przycisk myszy i nie odpuszczając go łączyć ze sobą punkty
      starając się nie najeżdżać na punkty, które nie wypadają w aktualnej kolejności. W przypadku uniesienia lewego
      przycisku myszy do góry, badanie zostanie wyzerowane, i będzie trzeba ponownie łączyć wszystkie punkty.</p>

    <button mat-raised-button color='primary' (click)='redirectToTutorial()'>Przejdź do samouczka</button>

  </div>
</div>
