<div class="main">
  <div class="wrapper">
    <h2>Test Stroopa</h2>

    <p>Test polega na wskazaniu koloru tekstu widocznego na ekranie. Pierwszym etapem jest samouczek w którym można przetestować działanie testu.
      Podczas samouczka będą wyświetlały się kolory oraz przypisane do nich klawisze. Następnie będą Państwo przechodzić przez dwa etapy właściwego testu już bez podpowiedzi na górze ekranu.
    </p>
    <p>W celu wskazania koloru, proszę używać nastepujących klawiszy na klawiaturze:</p>
    <ul>
      <li>X - Żółty</li>
      <li>Z - Zielony</li>
      <li>C - Czerwony</li>
      <li>N - Niebieski</li>
    </ul>
    <button mat-raised-button color="warn" (click)="redirectToTutorial()">Przejdź do samouczka</button>
  </div>
</div>
